/* Jackets css */

.main-2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: 10px;
  width: 50%;
  height: 578px;
  background-color: #0f2624;
  padding-left: 50px;
  padding-top: 47px;
  padding-right: 50px;
  padding-bottom: 109px;
    
}

.main-2 h2 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  color: white;
  justify-content: flex-start;

}

.main-2 p {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  color: white;
}

#main2img{
    position: relative;
    width: 100%;
    object-position: left;

}
