/* main */
.o-main-container{
    width: 100%;
    height: auto;
    border: 2px solid black;
}
.o-wrapper{
    display: flex; 
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 8px;
    /* border: 1px solid black; */
}
.img-overview{
    background-image: url(../media/Img/jacket-2.jpg);
    background-image: cover;
    background-position: center;
    background-size: auto;
    border: 1px solid black;
    width: 50%;
    height: 700px;
}


.o-wrapper img{
    border: 1px solid black;
}
.o-column {
    display: flex;
    flex-direction: column;
    padding: 2px;
    height: auto;
    width: 10%;
    justify-content: top;
    gap: 8px;
}

/* Main hero tezt */

.overview-text{
    border:1px solid black;
    
}



